<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        /*
        window.setTimeout(function(){

            // Move to a new location or you can do something else
            window.location.href = "/input";

            }, 5000);
            */
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/2.css">
    <title>Result</title>
</head>
<body style="background-color: black; display: inherit;">
    <div class="container">

        <h3 class="glow"><%= bestOption %></h3>
        <p class="glow">Winning percentage : <%= winningPercentage %>%</p>
    </div>
</body>
</html>